# Виртуальные окружения
venv/
.venv/
env/
.env/

# Папки сборщика PyInstaller (бинарники)
build/
dist/
*.spec

# Временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Настройки сред разработки
.vscode/
.idea/

# Тяжелые веса моделей YOLO (скачиваются автоматически)
*.pt